<h1>New Book</h1>
<form action="/addbook" method="POST">
    <fieldset>
        <h3>Add new book</h3>
        <label>Name</label>
        <input type="text" id='name' name="name" required>
        <br><br>
        <label>Rate</label>
        <input type="text" id="rate" name="rate" required>
        <br><br>
        <button type="submit">Submit</button>
    </fieldset>
</form>