div class="container">
      <h1>Create New Member</h1>
      <form action="/members/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><textarea name="address"></textarea></td>
            </tr>
            <tr>
              <td>Position</td>
              <td><input type="text" name="position" /></td>
            </tr>
            <tr>
              <td>Salary</td>
              <td><input type="number" name="salary" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>